body{background:#ebebeb}.comeing-soon,.now-playing{margin:15px 15px 0}.comeing-soon img,.now-playing img{width:100%}.comeing-soon .info,.now-playing .info{background:#fff;border:1px solid #ddd;padding:10px;display:flex;justify-content:space-between}.comeing-soon .info h2,.now-playing .info h2{color:#333;font-weight:400;font-size:14px;line-height:20px}.comeing-soon .info p,.now-playing .info p{color:#9a9a9a;font-size:12px;line-height:20px}.comeing-soon .info strong,.now-playing .info strong{color:#f78360;font-size:18px;font-weight:400}
.more-button {
    width: 160px;
    height: 30px;
    border: 1px solid #aaa;
    border-radius: 15px;
    margin: 10px auto 30px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color: #616161;
    cursor: pointer;
}
